In [1]:
import pandas as pd
import glob
import os
from collections import defaultdict
import numpy as np
import locationtagger
from pathlib import Path

USERS_DATA = r'D:/coding/classes/csci461/Rhino-Sentiment-Analysis-Project/Rhino_Users'
PROCESSED_DATA_FOLDER = r"D:/coding/classes/csci461/Rhino-Sentiment-Analysis-Project/processed_users/"

In [2]:
#https://www.geeksforgeeks.org/extracting-locations-from-text-using-python/
#funciton to tag country


def add_tag(row):
    place = (locationtagger.find_locations(text = row.location))
    return place

def tag_country(row):
    #place = (locationtagger.find_locations(text = location))
    #print(f"{i} {place.countries} {place.regions} {place.cities} {place.country_regions}")
    place = row['place']
    if len(place.countries) != 0:
        return (place.countries[0])
    elif len(place.country_regions) != 0:
        return (list(place.country_regions.keys())[0])
    elif len(place.country_cities) != 0:
        return (list(place.country_cities.keys())[0])
    else:
        return (None)

def tag_region(row):
    place = row['place']
    if len(place.regions) != 0:
        return place.regions[0]
    elif len(place.region_cities) != 0:
        return list(place.region_cities.keys())[0]
    else:
        return None

In [3]:
def process_df(users, filename):
    outfile_path = PROCESSED_DATA_FOLDER + filename
    users = users.dropna(axis=0, how="any")
    users["place"] = users.apply(add_tag, axis=1)
    users["country"] = users.apply(tag_country, axis=1)
    users["region"] = users.apply(tag_region, axis=1)
    users.drop("place", inplace = True, axis=1)
    users.to_csv(Path(outfile_path), index=False)

In [4]:
#take in user data
path = USERS_DATA # use your path
print(path)
all_files = glob.glob(os.path.join(path , "*.csv"))
print(os.path.join(path , "*.csv"))
li = []

for file_path in all_files:
    print(file_path)
    df = pd.read_csv(file_path, index_col=None, header=0, lineterminator='\n', converters = {'id': str})
    filename = file_path.split("\\")[-1]
    print(filename)

    process_df(df, filename)

D:/coding/classes/csci461/Rhino-Sentiment-Analysis-Project/Rhino_Users
D:/coding/classes/csci461/Rhino-Sentiment-Analysis-Project/Rhino_Users\*.csv
D:/coding/classes/csci461/Rhino-Sentiment-Analysis-Project/Rhino_Users\user_0.csv
user_0.csv

In [5]:
users_no_na = users.dropna(axis=0, how="any")

In [26]:
#tag country 
first_100 = users_no_na.iloc[0:25]
process_df(first_100, "test.csv")

                     id         username  \
0              10671602      PlayStation
1            3426754587    sudantherhino
2             563812686    PeterSmithYEP
3             105784219  emma_tr4_rhinos
4              14847185      leedsrhinos
5              22230837        SampleATL
6            3217430829    YEPSportsdesk
7              41572208     savetherhino
8             235366725      BadRhinoINC
9             108455155    WLOYisPlaying
10             44861089           hodilu
11           1260813006      GlerumMusic
12            519683539    HelpingRhinos
14   973866358705475584        RareRhino
16             39222081         Nigeblue
17             19301925    Rhino_Records
18           1444501129     kalxplaylist
19           3059103717       SUNNowPlay
20           1509465397         laplapv3
21           1600900638       louisa1000
22           2345242941       ZachDoidge
23             43195567   El_Paso_Rhinos
26           4891614226         ttm71010
27           2314937901  Desiree_Laverne
28  1055910905547014144  AnnSchroederWi2

                                          description  \
0   Official Twitter updates on PlayStation, PS5, ...
1   Sudan, the last male Northern White Rhino, is ...
2   Rugby league (+ darts + cycling) writer: Yorks...
3   Proud Supporter of Leeds Rhinos Leeds united G...
4   Official account for eight times Men‚Äôs Super L...
5   Slower traffic keep right! Find something you ...
6   Subscribe to the YEP for unlimited access to a...
7   Working with incredible people to ensure that ...
8   When you work with Bad Rhino, you gain an enti...
9   Send music:  4501 N. Charles St.  Baltimore, M...
10  Rhinoceros enthusiast since childhood - finall...
11            What's playing in the Glerum household.
12  Leading conservation initiatives to protect th...
14  ü¶è Social entrepreneur. Our efforts is to help ...
16  Bright, friendly, confident person. Bath Ales ...
17  Label home to Warner Music's legendary catalog...
18  Music playing from KALX 90.7FM, UC Berkeley's ...
19  Playlist officielle de la radio SUN. Suivez en...
20                    I hate myself and I want to die
21  STOP the trade in IVORY, RHINO HORN & PANGOLIN...
22  21 years old | Leeds United | Guiseley AFC | L...
23  Proud Members of the NAHL | Follow our NA3HL t...
26  #Artist #FineArts #Photography #Men #Non-Invas...
27  ‚õîPLEASE NO DMs ‚õî  \n#Rangers‚ù§ #1_Bullet_1_Poac...
28  animal & environmental advocate ; ü§¨TROPHY HUNT...

                       location           users_created_at  \
0                    California  2007-11-27 22:37:20+00:00
1                        Canada  2015-08-16 21:52:14+00:00
2                    Leeds/York  2012-04-26 13:38:39+00:00
3              (west yorkshire)  2010-01-17 13:25:13+00:00
4                Leeds, England  2008-05-20 16:29:13+00:00
5                       ATL, GA  2009-02-28 05:08:35+00:00
6                         Leeds  2015-04-28 15:00:17+00:00
7                    London, UK  2009-05-21 11:55:15+00:00
8              Philadelphia, PA  2011-01-08 00:51:39+00:00
9      Baltimore, Maryland, USA  2010-01-26 00:40:39+00:00
10      Lengerich NRW / Germany  2009-06-05 10:00:08+00:00
11                  Redmond, WA  2013-03-12 01:37:15+00:00
12                     UK & USA  2012-03-09 17:55:59+00:00
14            Pennsylvania, USA  2018-03-14 10:20:08+00:00
16             Bristol, England  2009-05-11 09:28:10+00:00
17              Los Angeles, CA  2009-01-21 19:17:01+00:00
18                 Berkeley, CA  2013-05-20 18:46:03+00:00
19                       Nantes  2015-02-24 15:06:01+00:00
20                         Hell  2013-06-12 05:45:53+00:00
21                       London  2013-07-17 13:09:40+00:00
22     Guiseley, Leeds, England  2014-02-15 17:09:47+00:00
23               El Paso, Texas  2009-05-28 21:01:47+00:00
26  http://www.bodyaromatic.com  2016-02-09 10:57:21+00:00
27                  ‚ù§ü¶è‚ù§.... ‚ô°ü¶ä‚ô°  2014-01-30 20:56:59+00:00
28                          USA  2018-10-26 19:55:52+00:00

                                       public_metrics  verified  \
0   {'followers_count': 29683804, 'following_count...      True
1   {'followers_count': 2684, 'following_count': 2...     False
2   {'followers_count': 9509, 'following_count': 1...      True
3   {'followers_count': 201, 'following_count': 17...     False
4   {'followers_count': 202108, 'following_count':...      True
5   {'followers_count': 1882, 'following_count': 4...     False
6   {'followers_count': 10558, 'following_count': ...     False
7   {'followers_count': 81841, 'following_count': ...     False
8   {'followers_count': 9568, 'following_count': 9...     False
9   {'followers_count': 1897, 'following_count': 1...     False
10  {'followers_count': 2240, 'following_count': 9...     False
11  {'followers_count': 330, 'following_count': 1,...     False
12  {'followers_count': 59474, 'following_count': ...      True
14  {'followers_count': 1160, 'following_count': 1...     False
16  {'followers_count': 1248, 'following_count': 4...     False
17  {'followers_count': 121753, 'following_count':...      True
18  {'followers_count': 1420, 'following_count': 1...     False
19  {'followers_count': 552, 'following_count': 18...     False
20  {'followers_count': 756, 'following_count': 19...     False
21  {'followers_count': 8063, 'following_count': 6...     False
22  {'followers_count': 1626, 'following_count': 4...     False
23  {'followers_count': 5178, 'following_count': 8...     False
26  {'followers_count': 853, 'following_count': 18...     False
27  {'followers_count': 10279, 'following_count': ...     False
28  {'followers_count': 768, 'following_count': 50...     False

           country                  region
0    United States              California
1           Canada                Kentucky
2   United Kingdom                   Leeds
3             None                    None
4   United Kingdom                 England
5             None                    None
6   United Kingdom                   Leeds
7   United Kingdom                 England
8    United States            Pennsylvania
9    United States                Maryland
10         Germany  North Rhine-Westphalia
11   United States              Washington
12           Japan               Kochi-ken
14   United States            Pennsylvania
16  United Kingdom                 Bristol
17   United States              California
18   United States              California
19            None                    None
20          Norway    Nord-Trondelag Fylke
21  United Kingdom                 England
22  United Kingdom                 England
23   United States                   Texas
26            None                    None
27            None                    None
28           Japan               Kochi-ken