In [21]:
import pandas as pd
import glob
import os
from collections import defaultdict
import numpy as np

In [23]:
#take in user data
path = r'D:/coding/classes/csci461/rhino_data/Rhino_Users' # use your path
print(path)
all_files = glob.glob(os.path.join(path , "*.csv"))
print(os.path.join(path , "*.csv"))
li = []

for filename in all_files:
    print(filename)
    df = pd.read_csv(filename, index_col=None, header=0, lineterminator='\n', converters = {'id': str})
    li.append(df)


users = pd.concat(li, axis=0, ignore_index=True)
users.rename(columns={'created_at': 'users_created_at'}, inplace=True)

D:/coding/classes/csci461/rhino_data/Rhino_Users
D:/coding/classes/csci461/rhino_data/Rhino_Users\*.csv
D:/coding/classes/csci461/rhino_data/Rhino_Users\user_0.csv
D:/coding/classes/csci461/rhino_data/Rhino_Users\user_1.csv
D:/coding/classes/csci461/rhino_data/Rhino_Users\user_2.csv
D:/coding/classes/csci461/rhino_data/Rhino_Users\user_3.csv
D:/coding/classes/csci461/rhino_data/Rhino_Users\user_4.csv

In [24]:
#take in tweet
path = r'D:/coding/classes/csci461/rhino_data/tweets' # use your path
print(path)
all_files = glob.glob(os.path.join(path , "*.csv"))
print(os.path.join(path , "*.csv"))
li = []

for filename in all_files:
    print(filename)
    df = pd.read_csv(filename, index_col=None, header=0, lineterminator='\n', converters = {'author_id': str})
    li.append(df)


tweets = pd.concat(li, axis=0, ignore_index=True)
tweets.rename(columns={'created_at': 'tweet_created_at'}, inplace=True)
tweets.drop( columns="created_at\r" ,inplace=True)

D:/coding/classes/csci461/rhino_data/tweets
D:/coding/classes/csci461/rhino_data/tweets\*.csv
D:/coding/classes/csci461/rhino_data/tweets\rhino_twitter_data_0.csv
D:/coding/classes/csci461/rhino_data/tweets\rhino_twitter_data_1.csv
D:/coding/classes/csci461/rhino_data/tweets\rhino_twitter_data_10.csv
D:/coding/classes/csci461/rhino_data/tweets\rhino_twitter_data_100.csv
D:/coding/classes/csci461/rhino_data/tweets\rhino_twitter_data_101.csv
D:/coding/classes/csci461/rhino_data/tweets\rhino_twitter_data_102.csv
D:/coding/classes/csci461/rhino_data/tweets\rhino_twitter_data_103.csv
D:/coding/classes/csci461/rhino_data/tweets\rhino_twitter_data_104.csv
D:/coding/classes/csci461/rhino_data/tweets\rhino_twitter_data_105.csv
D:/coding/classes/csci461/rhino_data/tweets\rhino_twitter_data_106.csv
D:/coding/classes/csci461/rhino_data/tweets\rhino_twitter_data_107.csv
D:/coding/classes/csci461/rhino_data/tweets\rhino_twitter_data_108.csv
D:/coding/classes/csci461/rhino_data/tweets\rhino_twitter_data_109.csv
D:/coding/classes/csci461/rhino_data/tweets\rhino_twitter_data_11.csv
D:/coding/classes/csci461/rhino_data/tweets\rhino_twitter_data_110.csv
D:/coding/classes/csci461/rhino_data/tweets\rhino_twitter_data_111.csv
D:/coding/classes/csci461/rhino_data/tweets\rhino_twitter_data_112.csv
D:/coding/classes/csci461/rhino_data/tweets\rhino_twitter_data_113.csv
D:/coding/classes/csci461/rhino_data/tweets\rhino_twitter_data_114.csv
D:/coding/classes/csci461/rhino_data/tweets\rhino_twitter_data_115.csv
D:/coding/classes/csci461/rhino_data/tweets\rhino_twitter_data_116.csv
D:/coding/classes/csci461/rhino_data/tweets\rhino_twitter_data_117.csv
D:/coding/classes/csci461/rhino_data/tweets\rhino_twitter_data_118.csv
D:/coding/classes/csci461/rhino_data/tweets\rhino_twitter_data_119.csv
D:/coding/classes/csci461/rhino_data/tweets\rhino_twitter_data_12.csv
D:/coding/classes/csci461/rhino_data/tweets\rhino_twitter_data_120.csv
D:/coding/classes/csci461/rhino_data/tweets\rhino_twitter_data_121.csv
D:/coding/classes/csci461/rhino_data/tweets\rhino_twitter_data_122.csv
D:/coding/classes/csci461/rhino_data/tweets\rhino_twitter_data_123.csv
D:/coding/classes/csci461/rhino_data/tweets\rhino_twitter_data_124.csv
D:/coding/classes/csci461/rhino_data/tweets\rhino_twitter_data_125.csv
D:/coding/classes/csci461/rhino_data/tweets\rhino_twitter_data_126.csv
D:/coding/classes/csci461/rhino_data/tweets\rhino_twitter_data_127.csv
D:/coding/classes/csci461/rhino_data/tweets\rhino_twitter_data_128.csv
D:/coding/classes/csci461/rhino_data/tweets\rhino_twitter_data_129.csv
D:/coding/classes/csci461/rhino_data/tweets\rhino_twitter_data_13.csv
D:/coding/classes/csci461/rhino_data/tweets\rhino_twitter_data_130.csv
D:/coding/classes/csci461/rhino_data/tweets\rhino_twitter_data_131.csv
D:/coding/classes/csci461/rhino_data/tweets\rhino_twitter_data_132.csv
D:/coding/classes/csci461/rhino_data/tweets\rhino_twitter_data_133.csv
D:/coding/classes/csci461/rhino_data/tweets\rhino_twitter_data_134.csv
D:/coding/classes/csci461/rhino_data/tweets\rhino_twitter_data_135.csv
D:/coding/classes/csci461/rhino_data/tweets\rhino_twitter_data_136.csv
D:/coding/classes/csci461/rhino_data/tweets\rhino_twitter_data_137.csv
D:/coding/classes/csci461/rhino_data/tweets\rhino_twitter_data_138.csv
D:/coding/classes/csci461/rhino_data/tweets\rhino_twitter_data_139.csv
D:/coding/classes/csci461/rhino_data/tweets\rhino_twitter_data_14.csv
D:/coding/classes/csci461/rhino_data/tweets\rhino_twitter_data_140.csv
D:/coding/classes/csci461/rhino_data/tweets\rhino_twitter_data_15.csv
D:/coding/classes/csci461/rhino_data/tweets\rhino_twitter_data_16.csv
D:/coding/classes/csci461/rhino_data/tweets\rhino_twitter_data_17.csv
D:/coding/classes/csci461/rhino_data/tweets\rhino_twitter_data_18.csv
D:/coding/classes/csci461/rhino_data/tweets\rhino_twitter_data_19.csv
D:/coding/classes/csci461/rhino_data/tweets\rhino_twitter_data_2.csv
D:/coding/classes/csci461/rhino_data/tweets\rhino_twitter_data_20.csv
D:/coding/classes/csci461/rhino_data/tweets\rhino_twitter_data_21.csv
D:/coding/classes/csci461/rhino_data/tweets\rhino_twitter_data_22.csv
D:/coding/classes/csci461/rhino_data/tweets\rhino_twitter_data_23.csv
D:/coding/classes/csci461/rhino_data/tweets\rhino_twitter_data_24.csv
D:/coding/classes/csci461/rhino_data/tweets\rhino_twitter_data_25.csv
D:/coding/classes/csci461/rhino_data/tweets\rhino_twitter_data_26.csv
D:/coding/classes/csci461/rhino_data/tweets\rhino_twitter_data_27.csv
D:/coding/classes/csci461/rhino_data/tweets\rhino_twitter_data_28.csv
D:/coding/classes/csci461/rhino_data/tweets\rhino_twitter_data_29.csv
D:/coding/classes/csci461/rhino_data/tweets\rhino_twitter_data_3.csv
D:/coding/classes/csci461/rhino_data/tweets\rhino_twitter_data_30.csv
D:/coding/classes/csci461/rhino_data/tweets\rhino_twitter_data_31.csv
D:/coding/classes/csci461/rhino_data/tweets\rhino_twitter_data_32.csv
D:/coding/classes/csci461/rhino_data/tweets\rhino_twitter_data_33.csv
D:/coding/classes/csci461/rhino_data/tweets\rhino_twitter_data_34.csv
D:/coding/classes/csci461/rhino_data/tweets\rhino_twitter_data_35.csv
D:/coding/classes/csci461/rhino_data/tweets\rhino_twitter_data_36.csv
D:/coding/classes/csci461/rhino_data/tweets\rhino_twitter_data_37.csv
D:/coding/classes/csci461/rhino_data/tweets\rhino_twitter_data_38.csv
D:/coding/classes/csci461/rhino_data/tweets\rhino_twitter_data_39.csv
D:/coding/classes/csci461/rhino_data/tweets\rhino_twitter_data_4.csv
D:/coding/classes/csci461/rhino_data/tweets\rhino_twitter_data_40.csv
D:/coding/classes/csci461/rhino_data/tweets\rhino_twitter_data_41.csv
D:/coding/classes/csci461/rhino_data/tweets\rhino_twitter_data_42.csv
D:/coding/classes/csci461/rhino_data/tweets\rhino_twitter_data_43.csv
D:/coding/classes/csci461/rhino_data/tweets\rhino_twitter_data_44.csv
D:/coding/classes/csci461/rhino_data/tweets\rhino_twitter_data_45.csv
D:/coding/classes/csci461/rhino_data/tweets\rhino_twitter_data_46.csv
D:/coding/classes/csci461/rhino_data/tweets\rhino_twitter_data_47.csv
D:/coding/classes/csci461/rhino_data/tweets\rhino_twitter_data_48.csv
D:/coding/classes/csci461/rhino_data/tweets\rhino_twitter_data_49.csv
D:/coding/classes/csci461/rhino_data/tweets\rhino_twitter_data_5.csv
D:/coding/classes/csci461/rhino_data/tweets\rhino_twitter_data_50.csv
D:/coding/classes/csci461/rhino_data/tweets\rhino_twitter_data_51.csv
D:/coding/classes/csci461/rhino_data/tweets\rhino_twitter_data_52.csv
D:/coding/classes/csci461/rhino_data/tweets\rhino_twitter_data_53.csv
D:/coding/classes/csci461/rhino_data/tweets\rhino_twitter_data_54.csv
D:/coding/classes/csci461/rhino_data/tweets\rhino_twitter_data_55.csv
D:/coding/classes/csci461/rhino_data/tweets\rhino_twitter_data_56.csv
D:/coding/classes/csci461/rhino_data/tweets\rhino_twitter_data_57.csv
D:/coding/classes/csci461/rhino_data/tweets\rhino_twitter_data_58.csv
D:/coding/classes/csci461/rhino_data/tweets\rhino_twitter_data_59.csv
D:/coding/classes/csci461/rhino_data/tweets\rhino_twitter_data_6.csv
D:/coding/classes/csci461/rhino_data/tweets\rhino_twitter_data_60.csv
D:/coding/classes/csci461/rhino_data/tweets\rhino_twitter_data_61.csv
D:/coding/classes/csci461/rhino_data/tweets\rhino_twitter_data_62.csv
D:/coding/classes/csci461/rhino_data/tweets\rhino_twitter_data_63.csv
D:/coding/classes/csci461/rhino_data/tweets\rhino_twitter_data_64.csv
D:/coding/classes/csci461/rhino_data/tweets\rhino_twitter_data_65.csv
D:/coding/classes/csci461/rhino_data/tweets\rhino_twitter_data_66.csv
D:/coding/classes/csci461/rhino_data/tweets\rhino_twitter_data_67.csv
D:/coding/classes/csci461/rhino_data/tweets\rhino_twitter_data_68.csv
D:/coding/classes/csci461/rhino_data/tweets\rhino_twitter_data_69.csv
D:/coding/classes/csci461/rhino_data/tweets\rhino_twitter_data_7.csv
D:/coding/classes/csci461/rhino_data/tweets\rhino_twitter_data_70.csv
D:/coding/classes/csci461/rhino_data/tweets\rhino_twitter_data_71.csv
D:/coding/classes/csci461/rhino_data/tweets\rhino_twitter_data_72.csv
D:/coding/classes/csci461/rhino_data/tweets\rhino_twitter_data_73.csv
D:/coding/classes/csci461/rhino_data/tweets\rhino_twitter_data_74.csv
D:/coding/classes/csci461/rhino_data/tweets\rhino_twitter_data_75.csv
D:/coding/classes/csci461/rhino_data/tweets\rhino_twitter_data_76.csv
D:/coding/classes/csci461/rhino_data/tweets\rhino_twitter_data_77.csv
D:/coding/classes/csci461/rhino_data/tweets\rhino_twitter_data_78.csv
D:/coding/classes/csci461/rhino_data/tweets\rhino_twitter_data_79.csv
D:/coding/classes/csci461/rhino_data/tweets\rhino_twitter_data_8.csv
D:/coding/classes/csci461/rhino_data/tweets\rhino_twitter_data_80.csv
D:/coding/classes/csci461/rhino_data/tweets\rhino_twitter_data_81.csv
D:/coding/classes/csci461/rhino_data/tweets\rhino_twitter_data_82.csv
D:/coding/classes/csci461/rhino_data/tweets\rhino_twitter_data_83.csv
D:/coding/classes/csci461/rhino_data/tweets\rhino_twitter_data_84.csv
D:/coding/classes/csci461/rhino_data/tweets\rhino_twitter_data_85.csv
D:/coding/classes/csci461/rhino_data/tweets\rhino_twitter_data_86.csv
D:/coding/classes/csci461/rhino_data/tweets\rhino_twitter_data_87.csv
D:/coding/classes/csci461/rhino_data/tweets\rhino_twitter_data_88.csv
D:/coding/classes/csci461/rhino_data/tweets\rhino_twitter_data_89.csv
D:/coding/classes/csci461/rhino_data/tweets\rhino_twitter_data_9.csv
D:/coding/classes/csci461/rhino_data/tweets\rhino_twitter_data_90.csv
D:/coding/classes/csci461/rhino_data/tweets\rhino_twitter_data_91.csv
D:/coding/classes/csci461/rhino_data/tweets\rhino_twitter_data_92.csv
D:/coding/classes/csci461/rhino_data/tweets\rhino_twitter_data_93.csv
D:/coding/classes/csci461/rhino_data/tweets\rhino_twitter_data_94.csv
D:/coding/classes/csci461/rhino_data/tweets\rhino_twitter_data_95.csv
D:/coding/classes/csci461/rhino_data/tweets\rhino_twitter_data_96.csv
D:/coding/classes/csci461/rhino_data/tweets\rhino_twitter_data_97.csv
D:/coding/classes/csci461/rhino_data/tweets\rhino_twitter_data_98.csv
D:/coding/classes/csci461/rhino_data/tweets\rhino_twitter_data_99.csv

In [25]:
tweets.rename(columns={'created_at': 'tweet_created_at', "created_at\r" : "tweet_created_at"}, inplace=True)

In [26]:
users.head(10)

,id,username,description,location,users_created_at,public_metrics,verified
0,10671602,PlayStation,"Official Twitter updates on PlayStation, PS5, ...",California,2007-11-27 22:37:20+00:00,"{'followers_count': 29683804, 'following_count...",True
1,3426754587,sudantherhino,"Sudan, the last male Northern White Rhino, is ...",Canada,2015-08-16 21:52:14+00:00,"{'followers_count': 2684, 'following_count': 2...",False
2,563812686,PeterSmithYEP,Rugby league (+ darts + cycling) writer: Yorks...,Leeds/York,2012-04-26 13:38:39+00:00,"{'followers_count': 9509, 'following_count': 1...",True
3,105784219,emma_tr4_rhinos,Proud Supporter of Leeds Rhinos Leeds united G...,(west yorkshire),2010-01-17 13:25:13+00:00,"{'followers_count': 201, 'following_count': 17...",False
4,14847185,leedsrhinos,Official account for eight times Men’s Super L...,"Leeds, England",2008-05-20 16:29:13+00:00,"{'followers_count': 202108, 'following_count':...",True
5,22230837,SampleATL,Slower traffic keep right! Find something you ...,"ATL, GA",2009-02-28 05:08:35+00:00,"{'followers_count': 1882, 'following_count': 4...",False
6,3217430829,YEPSportsdesk,Subscribe to the YEP for unlimited access to a...,Leeds,2015-04-28 15:00:17+00:00,"{'followers_count': 10558, 'following_count': ...",False
7,41572208,savetherhino,Working with incredible people to ensure that ...,"London, UK",2009-05-21 11:55:15+00:00,"{'followers_count': 81841, 'following_count': ...",False
8,235366725,BadRhinoINC,"When you work with Bad Rhino, you gain an enti...","Philadelphia, PA",2011-01-08 00:51:39+00:00,"{'followers_count': 9568, 'following_count': 9...",False
9,108455155,WLOYisPlaying,"Send music: 4501 N. Charles St. Baltimore, M...","Baltimore, Maryland, USA",2010-01-26 00:40:39+00:00,"{'followers_count': 1897, 'following_count': 1...",False

In [27]:
#number of users 
print(users.shape[0])

452516

In [28]:
tweets.shape

(19602963, 5)

In [29]:
tweets = tweets

In [30]:
users.loc[users["id"] == "3426754587"]

,id,username,description,location,users_created_at,public_metrics,verified
1,3426754587,sudantherhino,"Sudan, the last male Northern White Rhino, is ...",Canada,2015-08-16 21:52:14+00:00,"{'followers_count': 2684, 'following_count': 2...",False

In [31]:
tweets[tweets["author_id"] == "3302594272"]

,tweet,tweet_id,author_id,lang,tweet_created_at
0,RT @ChristianMotte: @pedro2pointzero @Babar_le...,1.633554e+18,3302594272,fr,2023-03-08 19:41:59+00:00
1,RT @ChristianMotte: @pedro2pointzero @Babar_le...,1.633554e+18,3302594272,fr,2023-03-08 19:41:51+00:00
10069439,RT @fanch_mrl: Et encore une volontairement fa...,1.282184e+18,3302594272,fr,2020-07-12 05:26:13+00:00
11766631,RT @Babar_le_Rhino: Vous pensez que c'est diff...,1.140491e+18,3302594272,fr,2019-06-17 05:28:11+00:00
11901068,RT @Babar_le_Rhino: Le père qui a tabassé avec...,1.585921e+18,3302594272,fr,2022-10-28 09:06:24+00:00
12717250,@Babar_le_Rhino Oui j’ai écouté sa vidéo sur u...,1.082354e+18,3302594272,fr,2019-01-07 19:11:26+00:00
14951479,@Babar_le_Rhino Pffff depuis 1978 on préconise...,1.575227e+18,3302594272,fr,2022-09-28 20:51:06+00:00
14966344,@VigieNana @Babar_le_Rhino @ClementLanot Moi i...,1.574445e+18,3302594272,fr,2022-09-26 17:04:52+00:00
14966374,RT @VigieNana: @MARCLANDES40 @Babar_le_Rhino @...,1.574444e+18,3302594272,fr,2022-09-26 17:00:59+00:00
14966413,@Babar_le_Rhino @ClementLanot Ben voyons 😂😂,1.574442e+18,3302594272,fr,2022-09-26 16:55:16+00:00
14966511,@Babar_le_Rhino @ClementLanot Tu parles.. les ...,1.574440e+18,3302594272,fr,2022-09-26 16:45:12+00:00
15039040,@Babar_le_Rhino Pas besoin d’enquête judiciair...,1.572511e+18,3302594272,fr,2022-09-21 09:01:52+00:00
16515063,RT @MariePa14: @Babar_le_Rhino @GMeurice Tout ...,1.570650e+18,3302594272,fr,2022-09-16 05:43:52+00:00
16515851,RT @Macronwhatelse: @Babar_le_Rhino Il n'a jam...,1.570592e+18,3302594272,fr,2022-09-16 01:54:41+00:00
16530862,"RT @Babar_le_Rhino: Bonjour @LCI, vous avez di...",1.569814e+18,3302594272,fr,2022-09-13 22:22:19+00:00

In [32]:
tweets_no_na = tweets.dropna(axis=0, how="any")

In [33]:
users_no_na = users.dropna(axis=0, how="any")

In [34]:
users.shape

(452516, 7)

In [35]:
users_no_na.shape

(286790, 7)

In [40]:
users_no_na.head(10)

,id,username,description,location,users_created_at,public_metrics,verified
0,10671602,PlayStation,"Official Twitter updates on PlayStation, PS5, ...",California,2007-11-27 22:37:20+00:00,"{'followers_count': 29683804, 'following_count...",True
1,3426754587,sudantherhino,"Sudan, the last male Northern White Rhino, is ...",Canada,2015-08-16 21:52:14+00:00,"{'followers_count': 2684, 'following_count': 2...",False
2,563812686,PeterSmithYEP,Rugby league (+ darts + cycling) writer: Yorks...,Leeds/York,2012-04-26 13:38:39+00:00,"{'followers_count': 9509, 'following_count': 1...",True
3,105784219,emma_tr4_rhinos,Proud Supporter of Leeds Rhinos Leeds united G...,(west yorkshire),2010-01-17 13:25:13+00:00,"{'followers_count': 201, 'following_count': 17...",False
4,14847185,leedsrhinos,Official account for eight times Men’s Super L...,"Leeds, England",2008-05-20 16:29:13+00:00,"{'followers_count': 202108, 'following_count':...",True
5,22230837,SampleATL,Slower traffic keep right! Find something you ...,"ATL, GA",2009-02-28 05:08:35+00:00,"{'followers_count': 1882, 'following_count': 4...",False
6,3217430829,YEPSportsdesk,Subscribe to the YEP for unlimited access to a...,Leeds,2015-04-28 15:00:17+00:00,"{'followers_count': 10558, 'following_count': ...",False
7,41572208,savetherhino,Working with incredible people to ensure that ...,"London, UK",2009-05-21 11:55:15+00:00,"{'followers_count': 81841, 'following_count': ...",False
8,235366725,BadRhinoINC,"When you work with Bad Rhino, you gain an enti...","Philadelphia, PA",2011-01-08 00:51:39+00:00,"{'followers_count': 9568, 'following_count': 9...",False
9,108455155,WLOYisPlaying,"Send music: 4501 N. Charles St. Baltimore, M...","Baltimore, Maryland, USA",2010-01-26 00:40:39+00:00,"{'followers_count': 1897, 'following_count': 1...",False

In [41]:
tweets.shape

(19602963, 5)

In [42]:
tweets_no_na.shape

(19460727, 5)

In [43]:
tweets_no_na.head(5)

,tweet,tweet_id,author_id,lang,tweet_created_at
0,RT @ChristianMotte: @pedro2pointzero @Babar_le...,1.633554e+18,3302594272,fr,2023-03-08 19:41:59+00:00
1,RT @ChristianMotte: @pedro2pointzero @Babar_le...,1.633554e+18,3302594272,fr,2023-03-08 19:41:51+00:00
2,@DallasZoo I wish I was a rhino! I mean.. a fi...,1.633554e+18,1616510250781184025,en,2023-03-08 19:41:48+00:00
3,@zagremir rhinos we COMING 🗣🗣,1.633554e+18,1158756340610863111,en,2023-03-08 19:41:30+00:00
4,@Rhino_Records FC Den Haag ADO Compilatie \nht...,1.633553e+18,1525495634513494016,nl,2023-03-08 19:40:28+00:00

In [44]:
tweets_eng_only = tweets_no_na[tweets_no_na["lang"] == "en"]

In [45]:
tweets_eng_only.shape

(16248691, 5)

In [46]:
joined = tweets_eng_only.join(users_no_na.set_index("id"), on="author_id", how="inner")

In [47]:
joined.shape

(5248513, 11)

In [50]:
joined["author_id"].unique().shape

(286594,)

In [ ]:
#https://www.geeksforgeeks.org/extracting-locations-from-text-using-python/
#funciton to tag country
import locationtagger
def tag_country(location):
    place = (locationtagger.find_locations(text = location))
    #print(f"{i} {place.countries} {place.regions} {place.cities} {place.country_regions}")
    if len(place.countries) != 0:
        return (place.countries[0])
    elif len(place.country_regions) != 0:
        return (list(place.country_regions.keys())[0])
    elif len(place.country_cities) != 0:
        return (list(place.country_cities.keys())[0])
    else:
        return (None)

In [ ]:
#tag country 
first_1000 = users_no_na.iloc[0:100]
first_1000["country"] = users_no_na["location"].iloc[0:100].apply(tag_country)
first_1000